.card {
  transition: all 0.3s ease;
  background-color: #ffffff; /* default */
  border-radius: 0.75rem;
}

.summary .card:hover {
  transform: scale(1.03);
  background-color: #e9f4ff; /* light gray background on hover */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.graph-carousel {
  overflow: hidden;
  position: relative;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 20%;
  transition: background 0.3s;
}

.carousel-arrow:hover {
  background: rgba(0, 0, 0, 0.6);
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}
