.wrapper {
    background: linear-gradient(135deg, var(--lightBlue1) 75%, var(--gray1) 25%);
    box-shadow: 5px 10px var(--gray);
}

.leftPanel {
    background: linear-gradient(135deg, var(--blue), var(--lightBlue));
    border-radius: 20px 0px 0px 20px;
    font-family: 'Montserrat';
}

.description-font {
    font-size: 0.9rem;
    color: var(--text-color);
}

.leftPanelImg {
    height: 50%;
    position: absolute;
    right: 48rem;
}

.leftPanelTreeImg {
    height: 120%;
    width: 25%;
}

.textAlign {
    margin-top: 5% !important; 
}

.margin-top-10 {
    margin-top: 10%;
}

.text-color-gray {
    color: #595C5F;
}

.margin-bottom-5 {
    margin-top: 5%;
}

.rightPanel {
    background-color: var(--white);
    border-radius: 0px 20px 20px 0px;
}

.loginBtn {
    background-color: var(--gold) !important;
    color: var(--white) !important;
}

.loginBtn:hover {
    background-color: var(--lightGold) !important;
    color: var(--white) !important;
    border-color: 1px solid var(--gold) !important;
}

.description {
    color: var(--lightGray);
}

/* New UI CSS */
body {
  background-color: #f8f9fa;
}

input:focus, button:focus {
  box-shadow: none !important;
}

.container-bg {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232563eb' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
background-repeat: repeat;
}

.left-image-border {
    border-radius: 30%;
}

.login-container {
  width: 80vw !important;  
  height: 90vh !important;            /* Use 90% of the viewport width */
  max-width: 1400px !important;        /* Optional: Cap width for very wide screens */
  margin: auto !important;        /* Center horizontally with space above/below */
  display: flex !important;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}